<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Northwind Web</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-static-top">
                <ul class="nav navbar-left">
                    <li>@Html.ActionLink("Northwind Web", "Index", "Home")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>


    <div class="navbar navbar-inverse navbar-left">
        
        <div class="container">
            @*<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>*@
           
                <ul class="nav">
                    <li>@Html.ActionLink("Acccueil", "Index", "Home")</li>
                    <li>
                        @Html.ActionLink("Produits", "Index", "Product")

                        <ul class="subnav">
                            <li>@Html.ActionLink("Ajouter", "AddProd", "Product")</li>
                            <li>@Html.ActionLink("Supprimer", "DelProd", "Product")</li>
                        </ul>
                    </li>  
                    <li>@Html.ActionLink("Catégorie", "Contact", "Category")
                        <ul class="subnav">
                            <li>@Html.ActionLink("Ajouter", "AddCat", "Category")</li>
                            <li>@Html.ActionLink("Supprimer", "DelCat", "Category")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Fournisseur", "Contact", "Provider")
                        <ul class="subnav">
                            <li>@Html.ActionLink("Ajouter", "AddProvider", "Product")</li>
                            <li>@Html.ActionLink("Supprimer", "DelProvider", "Product")</li>
                        </ul>
                    </li>
                </ul>
                
            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Northwind Web</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
